@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 210, 210, 210;
  --background-end-rgb: 220, 220, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  textarea {
    @apply resize-none;
    @apply p-[10px];
    @apply h-[50px];
    @apply w-[250px];
    @apply rounded;
  }
  input {
    @apply resize-none;
    @apply p-[10px];
    @apply h-[50px];
    @apply w-[250px];
    @apply rounded;
  }
}